/**
 * Sizes - height
 */
$height__hero  : 100px;
$height__cards : 350px;


/**
 * Sizes - Width
 */
$width__hero              : 100%;
$width__cards             : calc(100% / 3 - 20px);
$width__containers        : 1280px;

/**
 * Sizes - Font
 */
$size__font-hero          : 20px;
/**
 * Margin
 */


/**
 * INDEX
 */
$index__hero      :2000;
$index__modal     :2010;

