/**
 * display - flex
 */
.fa-center{
  display: flex;
  align-items: center;
}
.fj-center{
  display: flex;
  justify-content: center;
}
.fa-fj-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

